.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(83, 87, 135);
  font-weight: bolder;
  color:white;
  padding: 1rem 0rem;
}

.footer_content {
  width: 100%;
  max-width: 56rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media screen and (max-width: 450px) {
  .footer_content {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .footer_content {
    padding: 0rem 0.5rem;
  }
}
