.projects_wrap {
  width: 100%;
  margin: auto;
  max-width: 56rem;
  padding-top: 2rem;
  scroll-margin-top: -50px;
}

.project_items{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  gap:2rem;
}

@media screen and (max-width: 56rem) {
  .projects_wrap {
    padding: 1rem;
  }
  .project_items{
    width:100%;
  }
}

@media screen and (max-width: 750px) {
  .projects_wrap {
    padding: .5rem;
    margin: 1rem 0rem;
  }
  .project_items{
    flex-direction: column;
    gap: 2rem;
  }
}
