.banner {
  width: 100%;
  min-height: calc(100vh - 50px);
  background-color: var(--primary-bg-color);
  font-weight: bold;
  margin: auto;
  text-align: center;
  scroll-margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_wrap {
  background-color: var(--primary-bg-color);
  width: 100%;
  max-width: 56rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* =============== banner header ================ */
.banner_hello {
  font-size: 3vw;
}
.banner_name {
  font-size: 4vw;
  color: var(--primary-color);
}
/* =================== TYPPING EFFECT STYLES =============== */
.banner_description {
  display:inline-block;
}
/* ========== end typping ====================== */

/* ====== MIDDLE ====== */
.banner_middle {
  color: gray;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ============== banner_footer========== */
.banner_footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-self: flex-end;
}
.banner_hireme_section {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.follow_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
/* ================ ANIMATION AND MEDIA QUERY ================== */

/* ================MEDIA QUERY================ */
@media screen and (max-width: 470px) {
  .text {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 689px) {
  .banner_hello {
    font-size: 2rem;
  }
  .banner_name {
    font-size: 2.5rem;
  }

  .banner_footer {
    flex-direction: column;
  }
  .banner_hireme_section {
    justify-content: space-between;
    gap: 0.5rem;
  }

  .text {
    font-size: 1.5rem;
  }

}

@media screen and (max-width:56rem) {
  .banner_hello {
    font-size: 2rem;
  }
  .banner_name {
    font-size: 2.5rem;
  }  
}
