.banner {
  width: 100%;
  min-height: calc(100vh - 50px);
  background-color: var(--primary-bg-color);
  font-weight: bold;
  margin: auto;
  text-align: center;
  scroll-margin-top: 50px;
}

.banner_wrap {
  background-color: var(--primary-bg-color);
  margin: auto;
  min-height: calc(100vh - 50px);
  width: 100%;
  max-width: 56rem;
  padding: 1rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* =============== banner header ================ */
.banner_header {
  /* flex: 3; */
}
.banner_hello {
  font-size: 3vw;
  /* text-align: center; */
}
.banner_name {
  font-size: 4vw;
  color: royalblue;
}
/* =================== TYPPING EFFECT STYLES =============== */
.banner_description {
  display:inline-block;
}
.text {
  word-wrap: break-word;
  margin-top: .5rem;
  font-size: 2rem;
  display:inline-block;
  border-right: 2px solid orange;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 6s 1s steps(26) infinite,
    cursor 0.4s step-end alternate infinite;
}
.text_word{
  --textgradient_color1: #ff4969;
  --textgradient_color2: #fc9d44;
  color: transparent;

  background-clip: text;
  background-image: linear-gradient(
    75deg,
    var(--textgradient_color2),
    var(--textgradient_color1) 80%
  );
  background-size: cover;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
/* ========== end typping ====================== */

/* ====== MIDDLE ====== */
.banner_middle {
  color: gray;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ============== banner_footer========== */
.banner_footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-self: flex-end;
}
/* flex-direction: column; */
/* justify-content: space-between; */
.banner_hireme_section {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.follow_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
/* ================ ANIMATION AND MEDIA QUERY ================== */
/* animation for the typping effect */

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  40%,
  85% {
    width: 100%;
  }
  90%,
  100% {
    width: 0;
  }
}
/* end animation for the typping effect */

/* ================MEDIA QUERY================ */
@media screen and (max-width: 470px) {
  .text {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 689px) {
  .banner_hello {
    font-size: 2rem;
  }
  .banner_name {
    font-size: 2.5rem;
  }

  .banner_footer {
    flex-direction: column;
  }
  .banner_hireme_section {
    justify-content: space-between;
    gap: 0.5rem;
  }

  .text {
    font-size: 1.5rem;
  }

}
