.btn {
  outline: none;
  border: var(--border-btn-width) solid rgb(218, 49, 86);
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-weight: 700;
  color:#da3156;

  display:flex;
  justify-content:center;
  align-items:center;
  gap:.5rem;
}

.fill{
  color: white;
  background-color: #da3156;
}
