.btn {
  /* outline: none; */
  border: var(--border-btn-width) solid var(--secondary-text-cl);
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-weight: 700;
  color: var(--secondary-text-cl);
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn:hover {
  background-color: whitesmoke;
  color: var(--secondary-text-cl);

}
.fill {
  color: white;
  background-color: var(--secondary-text-cl);
}
