.follower_wrap {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 50%;
  font-size: 1.4rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.follower_wrap:hover {
  color: hsl(235, 100%, 78%);
  border-color: hsl(235, 100%, 78%);
}

.follower_wrap .bnt_white {
  
  color: whitesmoke;
  border-color: whitesmoke;
}
