.projectItem_wrap {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* box-shadow: rgb(231, 231, 231) 0px 0px 0px 3px; */
}

.projectItem_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectItem_left img {
  width: 100%;
  height: auto;
  position: relative;
}
.projectItem_left img::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.projectItem_right {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.projectItem_title {
  color: gray;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.projectItem_links {
  display: flex;
  gap: 1rem;
}

.projectItem_links button {
  text-transform: uppercase;
  padding: 0.3rem 0.4rem;
  font-size: 0.6rem;
  border-radius: 2px;
  outline: none;
  border: none;
}
.projectItem_description{
  opacity: .8;
}
.projectItem_tags {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-transform: capitalize;
}
.projectItem_tags_item {
  display: flex;
  align-items: center;
}
.projectItem_tags_item span {
  font-size: 0.7rem;
}

@media screen and (max-width: 650px) {
  .projectItem_wrap {
    flex-direction: column;
    overflow: hidden;
    gap: 2rem;
  }
  .projectItem_right {
    width: 100%;
    gap: 1rem;
  }
  .projectItem_left {
    width: 100%;
  }
}
