.skill_wrap {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding-top: 2rem;

  scroll-margin-top: -100px;
}
.skills_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skill_wrap .skill_title {
  font-size: 2rem;
  opacity: .8;
  padding: 2rem 0 1rem 0;
}

.skill_wrap p {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.view_all_sec {
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* to style to arrow rigth  on the button */
.arrLeft{
  font-size:1.2rem;
  font-weight: 700;
}

/* =================== media queries ================== */
@media screen and (max-width: 930px) {
  .skill_wrap {
    padding: 0rem 2rem;
  }
  .skills_item {
    margin: 1rem 1rem;
  }
}
