.skill_wrap {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding-top: 2rem;
  scroll-margin-top: -100px;
}
.skills_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.skill_wrap .skill_title {
  font-size: 2rem;
  opacity: .8;
  padding: 2rem 0 1rem 0;
}

.skill_wrap p {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.view_all_sec {
  margin: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



/* =================== media queries ================== */
@media screen and (max-width: 930px) {
  .skill_wrap {
    padding: 0rem 2rem;
  }
  .skills_item {
    margin: 1rem ;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 499px) {
  .skill_wrap {
    padding: 0rem 1rem;
  }
  .skills_item {
    margin: .5rem ;
    gap: 1rem;
  }
}

@media screen and (max-width: 445px) {
  .skill_wrap {
    padding: 0rem .5rem;
  }
  .skills_item {
    margin: .5rem ;
    gap: .5rem;
  }
}
