@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Medium.ttf") format("truetype"),
    url("/fonts/Nunito-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --primary-color: royalblue;
  --max-width: 56rem;
  --primary-bg-color: #e5e7ff;
  --secondary-color: #0b0929;
  --border-btn-width: 2px;
  --first-break-point: 756px;
  --mobile-width: 300px;
  --secondary-text-cl: #da3156;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 300ms ease-in-out;
  font-family: "Nunito", "Ubuntu", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Courier New", monospace, sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: white;
  position: relative;
}
img,
picture,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  color: inherit;
  background-color: inherit;
}
/* to style to arrow rigth  on the button */
.bold_icon {
  font-size: 1.2rem;
  font-weight: 700;
}

/* styles for every main title and descript */
.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  opacity: 0.8;
}
.description {
  margin-bottom: 2rem;
}
/* color for the current active link */
.active_tab {
  color: var(--primary-color);
}

/* styles for the typing effect */
.text {
  word-wrap: break-word;
  margin-top: 0.5rem;
  font-size: 2rem;
  display: inline-block;
  border-right: 2px solid #fc9d44;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 6s 0s steps(26) infinite,
    cursor 0.4s step-end alternate infinite;
}
.text_word {
  --textgradient_color1: #ff4969;
  --textgradient_color2: #fc9d44;
  color: transparent;

  background-clip: text;
  background-image: linear-gradient(
    75deg,
    var(--textgradient_color2),
    var(--textgradient_color1) 80%
  );
  background-size: cover;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
/* end of typing */

/* animation for the typping effect */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  40%,
  85% {
    width: 100%;
  }
  90%,
  100% {
    width: 0;
  }
}

/* end animation for the typping effect */

@media screen and (max-width: 457px) {
  .text {
    font-size: 1.5rem;
    height: auto;
  }
}
@media screen and (max-width: 351px) {
  .text {
    font-size: 1.2rem;
  }
}
